{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unpetrified</title>
    <link rel="icon" href="{% static 'media\Logo\logo.png' %}">
    <link rel="stylesheet" href="{% static 'css\style.css' %}">
</head>
<body>
    <div class="page-heading">
        
        <a href="/"><img src="{% static 'media\Logo\head.png' %}" alt="logo"></a>
        
        <input type="checkbox" class="nav-toggle" id="nav-toggle">
        <label for="nav-toggle" class="nav-toggle-label">
            <span></span>
        </label>
        
        <nav>
            <ul>
                <li> <a href="/">Home</a> </li>
                <li> <a href="#about">About</a> </li>
                <li> <a href="#contact">Contact</a> </li>
                
                {% if user.is_authenticated %}

                    <li> <a href="logout">Logout</a> </li>

                {% else %}

                    <li> <a href="login">Login</a> </li>

                {% endif %}
                    
            </ul>
        </nav>

    </div>
    
    {% for post in posts reversed %}

    <div class="card">
        <div class="head">
            <a href="post/{{post.id}}"><h3>{{post.title}}</h3></a>
            <small>By {{post.author}}, On {{post.date}}</small>
        </div>
        <img src="{{post.photo.url}}" alt="">
        <p>
            {{post.content | truncatechars:200}}
        </p>
        <a href="post/{{post.id}}">Read more</a>
    </div>

    {% endfor %}

    <div class="row" id="about">
        ABOUT ME
    </div>

    <div class="about-me">
        <img id="me" src="{% static 'media\Images\1655416720641.jpg' %}" alt="photo of me">
            
        <div>
            As a kid I always found computers interesting and believed it worked like magic.
            Gradually I started to learn and appreciate the processes behind its operation.
            The deeper I dive the more I believe it is magic &#128516
        </div>
    </div>

    <div class="row" id="contact">
        CONTACT ME
    </div>

    <div class="row" id="social">
        <a href="https://www.facebook.com/Capt.kingsley"> <img src="static\media\Logo\fb.png" alt="facebook"> </a>
        <a href="https://twitter.com/tochukwu0bi?t=nh8C9LpLdH5GvDFaRp4bAQ&s=09"> <img src="static\media\Logo\twitter.png" alt="twitter"> </a>
        <a href="https://github.com/Unpetrified"> <img src="static\media\Logo\github.png" alt="instagram"> </a>
        <a href="https://www.linkedin.com/in/kingsley-obiefuna-a6223b1a6"> <img src="static\media\Logo\linkedin.png" alt="linkedin"> </a>
        <a href="https://wa.me/message/Y5YELZZRXJCXC1"> <img src="static\media\Logo\whatapp.png" alt="whatapp"> </a>
    </div>

    <script src="{% static 'js\index.js' %}"></script>
</body>
</html>