{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kinger | Login</title>
    <link rel="icon" href="{% static 'media\Logo\logo.png' %}">
    <link rel="stylesheet" href="{% static 'css\register.css' %}">
</head>
    <body>
        <header>
            <div id="header">
                <a href="/"><img src="{% static 'media\Logo\head.png' %}" alt="kinger" id="img-header"></a>
            </div>
            
            <div id="motto">
                ...tech is for the disciplined and strong-willed
            </div>
        </header>
        
        <form action="login" method="POST">
            {% csrf_token %}

            <div class="register">Login</div>

            <input type="text" name="username" placeholder="Username" onfocus="focus(this);" onchange="check(this);" onmouseout="out(this);">
            <input type="password" name="password" placeholder="Password">

            {% for message in messages %}

            <div class="password">

                {{message}}
            
            </div>

            {% endfor %}

            <input type="submit" value="Login">

            <div class="register-link">Not a member? <a href="register">Register</a></div>
            
        </form>

        <script src="{% static 'js\index.js' %}"></script>
    </body>  
</html>