{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'media\Logo\logo.png' %}">
    <link rel="stylesheet" href="{% static 'css\post.css' %}">
    <title>Unpetrified | Post</title>
</head>

    {% if user.is_superuser %}
        <script>
            alert("Hello admin");
        </script>
    {% endif %}

    <div class="page-heading">
        
        <a href="/"><img src="{% static 'media\Logo\head.png' %}" alt="logo"></a>
        
        <input type="checkbox" class="nav-toggle" id="nav-toggle">
        <label for="nav-toggle" class="nav-toggle-label">
            <span></span>
        </label>
        
        <nav>
            <ul>
                <li> <a href="/">Home</a> </li>
                <li> <a href="#about">About</a> </li>
                <li> <a href="#contact">Contact</a> </li>
                
                {% if user.is_authenticated %}

                    <li> <a href="/logout">Logout</a> </li>

                {% else %}

                    <li> <a href="/login">Login</a> </li>

                {% endif %}
                    
            </ul>
        </nav>

    </div>

    <div class="content">

        <img src="{{article.photo.url}}" alt="">

        <h4>{{article.title}}</h4>
        <span>By {{article.author}}, {{article.date}}</span>

        {% for content in contents %}
            <p>{{content}}</p>
        {% endfor %}

    </div>

    <span class="rule"></span>

    <div class="comments">
        <div class="row">COMMENTS</div>

        {% for comment in comments %}

        <div class="comment">

            <h5>{{comment.comment_author}}</h5>
            <p>
                {{comment.comment_body}}
            </p>
            <div>
                {{comment.date}}
            </div>
        </div>

        {% endfor %}
        
        {% if user.is_authenticated %}
        
            <form action="/{{article.id}}" method="POST">    
                {% csrf_token %}

                <input type="text" name="comment" placeholder="what do you think?" required>
                <input type="submit" value="comment">

            </form>

        {% else %}
            
            <form action="/{{article.id}}" method="POST">    
                {% csrf_token %}

                <input type="text" name="comment" placeholder="You must be logged in to leave a comment" disabled style="cursor: not-allowed;">
                <input type="submit" value="comment" disabled style="background-color: var(--btnDisabled); cursor: not-allowed; color: var(--bgColor);">

            </form>

        {% endif %}

    </div>

    <div class="row">RECENT POST</div>

    {% for post in posts reversed %}

        {% if post.id != article.id %}

        <div class="card">

            <div class="head">
                <a href="/post/{{post.id}}"><h3>{{post.title}}</h3></a>
            </div>
            
            <a href="/post/{{post.id}}">
                <img src="{{post.photo.url}}" alt="">
            </a>
            
            <p>
                {{post.content | truncatechars:200}}
            </p>

        </div>

        {% endif %}

    {% endfor %}
    
    <div class="row" id="about">
        ABOUT ME
    </div>

    <div class="about-me">

        <img id="me" src="{% static 'media\Images\1655416720641.jpg' %}" alt="photo of me">
            
        <div>
            As a kid I always found computers interesting and believed it worked like magic.
            Gradually I started to learn and appreciate the processes behind its operation.
            The deeper I dive the more I believe it is magic &#128516
        </div>

    </div>

    <div class="row" id="contact">
        CONTACT ME
    </div>

    <div class="row" id="social">

        <a href="https://www.facebook.com/Capt.kingsley"> <img src="{% static 'media\Logo\fb.png' %}" alt="facebook"> </a>
        <a href="https://twitter.com/tochukwu0bi?t=nh8C9LpLdH5GvDFaRp4bAQ&s=09"> <img src="{% static 'media\Logo\twitter.png' %}" alt="twitter"> </a>
        <a href="https://github.com/Unpetrified"> <img src="{% static 'media\Logo\github.png' %}" alt="instagram"> </a>
        <a href="https://www.linkedin.com/in/kingsley-obiefuna-a6223b1a6"> <img src="{% static 'media\Logo\linkedin.png' %}" alt="linkedin"> </a>
        <a href="https://wa.me/message/Y5YELZZRXJCXC1"> <img src="{% static 'media\Logo\whatapp.png' %}" alt="whatapp"> </a>

    </div>

    <script src="{% static 'js\index.js' %}"></script>
    
    </body>  
</html>