{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unpetrified | Register</title>
    <link rel="icon" href="{% static 'media\Logo\logo.png' %}">
    <link rel="stylesheet" href="{% static 'css\register.css' %}">
</head>
    <body>
        
        <div class="page-heading">
        
            <a href="/"><img src="{% static 'media\Logo\head.png' %}" alt="logo"></a>
    
        </div>
        
        <form action="register" method="POST">
            {% csrf_token %}

            <div class="register">Register</div>

            {% for message in messages %}
                
            <div class="error">
                {{message}}
            </div>
            
            {% endfor %}
            
            <input type="text" name="firstName" placeholder="Enter first name">
            
            <input type="text" name="lastName" placeholder="Enter last name">
            
            <input type="email" name="email" placeholder="Enter email">
            
            <input type="text" name="username" placeholder="Choose username">
            
            <input type="password" name="password" placeholder="Password">
            
            <input type="password" name="password2" placeholder="Confirm password">
            
            <input type="submit" value="Register">

            <div class="register-link">Already a member? <a href="login">Login</a></div>

        </form>

        <script src="{% static 'js\index.js' %}"></script>
    </body>  
</html>