{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kinger | Reset Password</title>
    <link rel="icon" href="{% static 'media\Logo\logo.png' %}">
    <link rel="stylesheet" href="{% static 'css\register.css' %}">
</head>
    <body>
        <header>
            <div id="header">
                <a href="/"><img src="{% static 'media\Logo\head.png' %}" alt="kinger" id="img-header"></a>
            </div>
            
            <div id="motto">
                ...tech is for the disciplined and strong-willed
            </div>
        </header>
        
        <div class="notify">
            
            <h3>Email Sent</h3>

            <div>
                We have emailed you instructions on how to reset your password.
            </div>

            <div>
                If you did not recieve any mail, check your spam folder and make sure the provided email is correct.
            </div>

        </div>
        
        <script src="{% static 'js\index.js' %}"></script>
    </body>  
</html>